/* colors */

:root {
    --grey-color: #f9fafd;
    --grey-color-alt: #8492a6;
    --white: #fff;
    --dark-color: rgb(0, 0, 0);
    --dark-color-alt: #3c4858;
    --orange: rgb(255, 167, 58);
}

/* reset */

* {
    font-family: 'Blinker', sans-serif;
    background-color: var(--dark-color);
    color: var(--grey-color);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
}

li,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* header */

.header {
    position: relative;
    z-index: 100;
}

/* navigation */

.container {
    width: 100%;
}

.navigation {
    position: relative;
    z-index: 100;
}

.nav__center .nav__hamburger {
    display: none;
    cursor: pointer;
    color:white;
}

.nav__center {
    display: grid;
    grid-template-columns: 1fr  3fr;
    align-items: center;
    margin-bottom: 2rem;
}

.nav__logo {
    width: 340px;
    margin-left: 3rem;
}

.nav__icons svg {
    width: 1.7rem;
    height: 1.7rem;
    color:white;
    background-color: orange;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu .menu__top {
    display: none;
    cursor: pointer;
    color: white;
}


.nav__menu .menu__top .close__toggle {
    cursor: pointer;
    color:white;
    background-color: orange;
}

.nav__menu .nav__list {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem 1rem 1.5rem;
    margin-left: 55rem;
}

.nav__list .nav__item:not(:last-child) {
    margin-right: 0.5rem;
}

.nav__item .nav__link:link,
.nav__item .nav__link:visited {
    display: inline-block;
    padding: 1rem;
    color: var(--grey-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.6px;
    transition: all 300ms ease-in-out;
}

.nav__item .nav__link:hover {
    color: var(--orange);
    transition: all 300ms ease-in-out;
}

/* navigation media query */

@media only screen and (max-width: 996px) {
    .nav__center {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
        .nav__center {
        grid-template-columns: 1fr;
    }

    .nav__center .nav__hamburger {
        display: block;
    }

    .nav__center .nav__hamburger svg {
        width: 3rem;
        height: 3rem;
        fill: var(--white);
    }

    .nav__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .nav__logo {
        margin-top: 1rem;
        margin-left: 1rem;
        width: 250px;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        left: -50rem;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        background-color: var(--dark-color);
        transition: all 0.2s ease-in-out;
        opacity: .9;
    }

    .nav__menu .menu__top svg {
        width: 1.6rem;
        height: 1.6rem;
        fill: var(--white);
    }

    .nav__menu .menu__top .close__toggle {
        cursor: pointer;
        color: var(--white);
    }

    .nav__menu .menu__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: var(--dark-color);
    }

    .nav__menu .nav__list {
        background-color: var(--dark-color);
        justify-content: start;
        flex-direction: column;
        width: 25rem;
        padding: 0;
    }

    .nav__menu .nav__list .nav__item {
        width: 100%;
    }

    .nav__list .nav__item .nav__link:link,
    .nav__list .nav__item .nav__link:visited {
        display: block;
        width: 100%;
        font-size: 1.9rem;
        color: var(--white);
    }

    .nav__list .nav__item .nav__link:last-child:link,
    .nav__list .nav__item .nav__link:last-child:visited {
        display: inline-block;
        width: 50%;
    }

    .nav__list .nav__item .nav__link:last-child:hover {
        color: var(--orange);
    }

    body.active::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 70;
    }

    .nav__menu .nav__list.show {
        transform: translateX(-500px);
        display: none;
    }

    .glide__track {
        margin-top: 5rem;
    }
}


/* hero */

.hero__img-container {
    width: 950px;
    height: 530px;
    display: flex;
    margin: auto;
}

.glide__bullets {
    background-color: transparent;
}

.glide__bullet {
    background-color: var(--grey-color);
    width: 1.2rem;
    height: 1.2rem;
}

.hero .glide__arrow {
    padding: 1.5rem 1.7rem;
    opacity: 0.3;
    border: none;
    background-color: var(--grey-color);
    transition: all .5s ease-in-out .2s;
}

.glide__arrow:hover {
    background-color: var(--grey-color);
}

.hero:hover .glide__arrow {
    opacity: 1;
}

.hero .glide__arrow svg {
    height: 1.8rem;
    width: 1.8rem;
    background-color: var(--grey-color);
}

.hero .glide__arrow {
    border-radius: 50%;
}

.glide__arrow {
    top: 250;
}

@media only screen and (max-width: 996px) {
    .hero__img-container {
        width: 750px;
        height: 450px;
        display: flex;
        margin: auto;
    } 
}

@media only screen and (max-width: 768px) {
    .hero__img-container {
        width: 550px;
        height: 350px;
        display: flex;
        margin: auto;
    }
}

@media only screen and (max-width: 568px) {
    .hero__img-container {
        width: 300px;
        height: 180px;
        display: flex;
        margin: auto;
    }

    .glide__arrow {
        width: 0.5rem;
        height: 0.5rem;
        top: 100;
    }

    .hero .glide__arrow svg {
        width: 2rem;
        margin-left: -1rem;
        margin-top: -0.8rem;
    }
}


/* MAIN */

.primary__title {
    margin-left: 4rem;
    font-size: 45px;
    width: 10%;
}

.text__we {
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: -81px;
    font-size: 20px;
    text-align: center;
}

.process {
    width: 80%;
    margin: auto;
    margin-top: 4rem;
}

.passionate__p {
    width: 70%;
    margin: auto;
    margin-top: 4rem;
    font-size: 20px;
    text-align: center;
}

.thumbnails {
    display: flex;
    margin-top: 4rem;
    margin-left: 13rem;
    object-fit: cover;
}

.fede{
    margin-bottom: 3.5rem;
    width: 400px;
    height: 200px;
}

.lu {
    margin-bottom: 3.5rem;
    margin-left: 20rem;
    margin-top: 1.5rem;
    width: 480px;
    height: 185px;
}

.rectangle {
    /* width: 100%; */
    /* height: 400px; */
    margin: auto;
}

.services__text {
    font-size: 45px;
    margin-left: 4rem;
}

.works__text {  
    font-size: 45px;
    margin-left: 4rem;
    margin-bottom: 0.5rem;
}

.works__imgs {
    /* display: flex;
    text-align: center; */
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.works__images {
    padding-left: 3.5rem;
    padding-top: 4.5rem;
}

.modal {
    z-index: 1;
    display: none;
    padding-top: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-hover-opacity {
    cursor: pointer;
    opacity: 1;
    width: 350px;
    height: 200px;
}

.modal-hover-opacity:hover {
    opacity: 0.60;
    /* filter: alpha(opacity=60); */
    /* -webkit-backface-visibility: hidden; */
}

.close {
    text-decoration: none;
    float: right;
    font-size: 30px;
    color: white;
}

.section__contact { 
    position: relative;
    height: 40rem;
    background: url("./images/textura contacto.png") top/cover no-repeat fixed;
    margin-top: 4rem;
}

.section__contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact {
    margin-top: -2.5rem;
    margin-left: 4rem;
    position: absolute;
    color: var(--white);
    background-color: transparent;
}

.contact h1 {
    font-size: 45px;
    background-color: transparent;
}

.p1 {
    font-size: 23px;
    background-color: transparent;
    margin-bottom: -2rem;
}

.p2 {
    font-size: 23px;
    font-style: italic;
    background-color: transparent;
    margin-bottom: -2rem;
}

.form__camp {
    position: absolute;
    opacity: 0.7;
    right: 5rem;
    top: 10%;
}

.form-control.name-field, .form-control.mail-field, .form-control.telephone-field, .form-control.message-field {
    width: 550px;
    padding: 1rem;
    /* border: none; */
}

.btn.btn-primary {
    margin-bottom: -1.5rem;
    height: 4rem;
    margin-left: 41rem;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.btn.btn-primary:hover {
    color: var(--orange);
    transition: all 300ms ease-in-out;
}

::placeholder {
    color: var(--white);
    font-size: 20px;
}

@media only screen and (max-width: 568px) {
    .primary__title {
        font-size: 25px;
        margin-left: 2rem;
        margin-bottom: 3.5rem;
    }

    .text__we {
        width: 100%;
        font-size: 15px;
        /* margin-top: 2rem;
        margin-top: -4.6rem;
        margin-left: 12rem; */
        margin-top: 2rem;
    }

    .process {
        width: 325px;
        margin-top: 2.5rem;
    }

    .passionate__p {
        font-size: 15px;
        width: 100%;
        margin-top: 2.5rem;
    }

    .fede {
        width: 180px;
        height: 70px;
        margin-left: -12rem;
        margin-top: -1.7rem;
    }

    .lu {
        width: 180px;
        height: 65px;
        margin-left: 2rem;
        margin-top: -1.2rem;
    }

    .services__text {
        font-size: 25px;
        margin-left: 2rem;
        margin-bottom: 3.5rem;
    }

    .works__text {
        font-size: 25px;
        margin-left: 2rem;
    }

    .works__imgs {
        grid-template-columns: repeat(2, 1fr);
    }

    .works__images {
        width: 130px;
        height: 75px;
        padding-left: 2rem;
        margin-top: -0.8rem;
    }

    .modal-content {
        width: 95%;
    }

    .contact h1 {
        font-size: 25px;
        margin-top: 3rem;
        margin-left: -2rem;
    }

    .p1, 
    .p2 {
        font-size: 15px;
        margin-left: -2rem;
    }

    .form__camp {
        margin-top: 10rem;
        margin-right: -2.5rem;
    }

    .form-group {
        width: 300px;
    }

    .form-control.name-field, .form-control.mail-field, .form-control.telephone-field, .form-control.message-field {
        width: 300px;
    }

    .form-control.message-field {
        height: 70px;
    }

    ::placeholder {
        font-size: 12px;
    }

    .btn.btn-primary {
        font-size: 12px;
        margin-left: 20rem;
    }

    .map__img {
        width: 345px;
        height: 200px;
    }
}

/* footer */

.footer__camp {
    padding: 1.5rem;
}


@media only screen and (max-width: 568px) {
    .footer__camp {
        font-size: 12px;
    }
}
